force-app/main/default/flows/Opportunity_Create_Financial_Account_On_Closed_Won.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Enviar_contrato_por_correo</name>
        <label>Enviar contrato por correo</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>OpportunityContractEmailInvoker</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>opportunityId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>OpportunityContractEmailInvoker</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Crea automáticamente una cuenta financiera cuando una oportunidad cambia a Closed Won.</description>
    <environments>Default</environments>
    <interviewLabel>Opportunity - Crear Cuenta Financiera al Ganar {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - Crear Cuenta Financiera al Ganar</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Crear_Cuenta_Financiera</name>
        <label>Crear Cuenta Financiera</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Enviar_contrato_por_correo</targetReference>
        </connector>
        <inputAssignments>
            <field>Approved_Credit_Limit__c</field>
            <value>
                <elementReference>$Record.Approved_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Card_Status__c</field>
            <value>
                <stringValue>Activa</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cliente__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>$Record.Financial_Product__c</elementReference>
            </value>
        </inputAssignments>
        <object>Financial_Account__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Crear_Cuenta_Financiera</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
